# ignores datafile
SpotifyFeatures.csv
SpotifyFeaturesClean.csv
SpotifyFeaturesOriginal.csv
CSVs/
songnames.txt
SCAI is No Limit S23.code-workspace
samples
audRead.cpython-311.pyc
audRead.cpython-39.pyc
audRead.cpython-38.pyc
*.mp3
*.mp4
*.wav
IDs.txt
searching.txt